div.header-button {
    text-align: right;
}

table.annotations {
    width: 100%
}

td.list-icon {
    width: 50px;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0px
}

td.list-icon.delete {
    background: #e4002b;
    color: #fff;
    cursor: pointer;
}

td.list-text {
    cursor: pointer;
    padding: 10px 5px
}

td.list-text.delete {
    background: #ffeeee;
}

td.list-text.disabled {
    cursor: default;
}
