/* COLORS
* FUSCHIA: #df1995
* GOLD: #ffb81c
* LAVENDER: #9faee5
* MIDDAY BLUE: #00a9ce
* MIDNIGHT BLUE: #00313C
* OCEAN BLUE: #004b87
* PLUM: #6d2077
* SKY BLUE: #41b6e6
* LIGHT MINT: #71cc98
* DARK MINT: #007a53
* LIGHT FOREST: #78be20
* DARK FOREST: #44693d
* LIGHT TEAL: #2dccd3
* DARK TEAL: #047b7f
* VERMILION: #e4002b
* ORANGE: #e87722
* BLUEBERRY: #1e22aa
*/

.app-header {
  background-color: #96714b;
  height: 40px;
  line-height: 40px;
  padding: 10px 30px;
  color: white;
  display: flex;
  align-items: center;
}

/*font-size: 1.5em;
font-weight: 700;
font-family: Titillium Web,sans-serif;
color: #fff;
*/
.app-name {
    margin-left: 15px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: Titillium Web,sans-serif;
    color: #fff;
}

.app-title {
    color: #e0cba8;
    font-size: 0.7em;
    margin-left: 15px;
    font-weight: 300;
    font-family: Titillium Web,sans-serif;
    letter-spacing: 2px;
}

.inactive-value {
    color: #a0a0a0;
    font-style: italic;
    font-weight: normal;
}

.main-content {
    margin: 0px;

}

.home-content {
    background: #fff;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 20px;
    margin-top: 50px;
}

div.page-content.slim {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1140px;
}

div.page-content.wide {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
}

div.main-menu {
    background: #fff;
    border-bottom: 1px solid rgba(34,36,38,.15);
    box-shadow: 0px 4px 2px -2px rgba(87, 87, 87, 0.2);
    padding: 2px 0px;
}

div.project-listing {
    margin-bottom: 10px;
}

a.home-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

a.home-link:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

span.action {
    cursor: pointer
}

.status-header {
    color: #3b4151;
    font-size: 0.8em;
    text-align: right;
}

a.action-link {
    color: #1fb041;
    /*font-weight: bold;*/
    text-decoration: none;
    outline: 0;
}

a.action-link:hover {
    color: #1b9c39;
    /*font-weight: bold;*/
    text-decoration: none;
    outline: 0;
}

a.external-link {
    color: #42a9c7;
    /*font-weight: bold;*/
    text-decoration: none;
    outline: 0;
}

a.external-link:hover {
    color: #3b98b3;
    /*font-weight: bold;*/
    text-decoration: none;
    outline: 0;
}

h1.home-headline {
    color: #3b4151;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Titillium Web,sans-serif;
    float: left;
}

span.headline-small {
    font-size: 0.6em;
    margin-left: 25px;
    font-weight: 300;
    font-family: Titillium Web,sans-serif;
    letter-spacing: 2px;
}

p.home-text {
    color: #3b4151;
    font-size: 1.1em;
    margin-top: 5px;
    text-align: justify;
}

span.info-bold {
    color: #000;
    font-weight: bold;
}

span.info-date {
    color: #3b4151;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

span.number-highlight {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: bold;
}

p.info-text {
    color: #3b4151;
    font-size: 0.9em;
}

p.info-text.md-top {
    margin-top: 10px;
}

span.clickable-icon {
    cursor: pointer;
}

span.info-highlight {
    padding-left: 0.25em;
    color: #000;
}

span.padding-sm {
    padding: 0px 5px;
}

span.left-padding-sm {
    padding-left: 5px;
}

span.right-padding-sm {
    padding-right: 5px;
}

span.padding-md {
    padding: 0px 10px;
}

span.left-padding-md {
    padding-left: 10px;
}

span.right-padding-md {
    padding-right: 10px;
}

span.left-padding-lg {
    padding-left: 20px;
}


span.right-padding-lg {
    padding-right: 20px;
}

span.padding-lg {
    padding: 0px 20px;
}


/* Spinner */

div.spinner-padding-md {
    text-align: center;
    margin: 25px;
}

div.spinner-padding-lg {
    text-align: center;
    margin: 50px;
}

div.spinner-padding-ms {
    text-align: center;
    margin: 150px;
}

div.centered {
    text-align: center;
}

/* Toast */
#toast-container {
    margin-top: 1rem;
}

#toast-container.toast-top-full-width>.toast {
    max-width: 400px;
}

#toast-container>.toast-success {
    background-color: #35c8c3;
    opacity:1;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}

#toast-container>.toast-success:hover {
    background-color: #35c8c3;
    opacity:1;
    box-shadow:0px 0px 10px rgba(0,0,0,0.4);
}

