div.dataset-caveat-view {
    background: #fff;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 20px 10px;
}

div.dataset-caveat {
    margin: 0px 20px;
}

h1.dataset-caveat {
    font-weight: normal;
    font-size: 1.5em;
}

td.error-statement {
    padding-left: 10px;
}

td.error-row {
    padding-left: 20px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

span.error-highlight {
    font-weight: bold;
}

a.error-link {
    color: #3b4151;
    text-decoration: none;
    outline: 0;
}

a.error-link:hover {
    color: #4286f4;
}

.dataset-reason-english {
	padding: 10px;
}

.dataset-reason-element {
	margin-left: 5em;
}

.dataset-reason-key {
	pdding-left: 1em;
}

.dataset-reason-icon {
	padding: 10px;      
}
     
.dataset-reason {
	padding: 5px;
	border-bottom: 1px solid #e7e7e763;
}

.dataset-reason:hover {
    background-color: #e6f7ff;
}

.reason-repair {
	min-width: 100px; 
}