div.dropzone-container {
    width: 100%;
    height: 200px;
}

div.dropzone {
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.file-name-input {
    width: 100%;
}

p.upload-info {
    color: #1e22aa;
    font-size: 0.9em;
    text-align: center;
    padding-top: 20px;
}

span.upload-size {
    font-weight: bold;
}
