div.notebook {
    margin-bottom: 10px;
}

div.notebook-header {
    text-align: right;
}

div.notebook-cell {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* CELL INDEX */

div.notebook-cell-index {
    border-left: 3px solid #fff;
    color: #303f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    min-width: 7ex;
    text-align: center;
    margin-bottom: 2px;
}

div.notebook-cell-index-expanded {
    background: #f7faff;
    border-left: 3px solid #3b4151;
    color: #303f9f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    min-width: 7ex;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

a.notebook-cell-index {
    color: #303f9f;
    outline: 0;
}

a.notebook-cell-index:hover {
    color: #4183c4;
    outline: 0;
    cursor: pointer;
}

/* CELL MODULE */

div.notebook-cell-module {
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    margin-bottom: 2px;
}

div.notebook-cell-module-expanded {
    background: #f7faff;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

/* CELL MENU */

div.cell-menu {
    padding: 1px 5px;
    margin: 0px;
}

span.command-dropdown {
    font-size: 1em;
    font-weight: 500;
    margin-left: 0px;
}

span.menu-separator {
    border-left: 1px solid #e8e8e9;
    margin: 0px 10px;
}

span.menu-text {
    font-size: 1em;
    font-weight: 500;
    color: #888;
    margin-right: 5px;
}

span.play-button {
    margin-right: 10px;
}

/* OUTPUT */

div.notebook-cell-output {
    margin-top: 20px;
}

pre.collapsed-command {
    background: #fcfaf8;
    border-radius: 2px;
    border: solid 1px #f2f0ed;
    color: #000;
    padding: 5px 10px;
    margin: 0px;
}

pre.collapsed-command-error {
    background: #f2dede;
    border-radius: 2px;
    border: solid 1px #ebccd1;
    color: #843534;
    padding: 5px 10px;
    margin: 0px;
}

pre.collapsed-output {
    color: #3b4151;
    padding: 0px 11px;
}

pre.collapsed-output-error {
    color: #843534;
    padding: 0px 11px;
}

span.form-constant {
    padding: 0px 10px;
}

/*
 * MISC
 */

p.empty-notebook-button {
    color: #888;
    text-align: center;
}

p.empty-notebook-message {
    color: #888;
    font-size: 1.5em;
    text-align: center;
}
