/* General notebook and cell frame */

div.notebook {
    background: #fff;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 10px 20px;
    margin-bottom: 10px;
}

div.notebook-footer {
    margin-top: 20px;
}

.notebook-cell {
  --max-cell-width: calc( 100em - 22em );
}

div.notebook-cell {
    background: #fff;
    /*border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);*/
    padding: 10px 10px 10px 0px;
}

div.notebook-cell-xp {
    background: #f8ffff;
    border-radius: .28571429rem;
    border: 1px solid #a9d5de;
    padding: 10px 25px 10px 0px;
}

div.notebook-cell-ro {
    background: #fff;
    /*border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);*/
    padding: 10px 10px 10px 0px;
    margin: 10px 0px;
}

div.notebook-cell-xp-new {
    background: #f8ffff;
    border-radius: .28571429rem;
    border: 1px solid #a9d5de;
    /*box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);*/
    padding: 10px 25px 10px 0px;
    margin: 10px 0px;
}

div.notebook-cell-error {
    /*background: #f4e8e8;
    border: solid 1px #ebccd1;
    border-radius: .28571429rem;*/
    color: #843534;
    padding: 20px;
    margin: 10px 0px;
}

/* Divider */
div.horizontal-divider {
    color: rgba(0,0,0,.85);
    font-size: 0.8em;
    display: table;
    height: auto;
    line-height: 1;
    margin: 1rem auto;
    text-align: center;
    white-space: nowrap;
    -moz-user-select: none;
}

/* Cell layout table */

table.cell-area {
    border-spacing: 0px;
    width: 100%;
    line-height: 1em;
}

td.cell-index {
    color: #303f9f;
    font-family: monospace,monospace;
    padding: 10px 0px;
    text-align: center;
    vertical-align: top;
    width: 50px;
}

td.cell-index-error {
    color: #843534;
    font-family: monospace,monospace;
    padding: 10px 0px;
    text-align: center;
    vertical-align: top;
    width: 50px;
}

td.cell-cmd {
    padding: 5px 0px;
}

td.output-selector {
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
    width: 50px;
}


/* Cell Index Link Formating */

a.cell-index {
    color: #303f9f;
    outline: 0;
}

a.cell-index:hover {
    color: #4183c4;
    outline: 0;
    cursor: pointer;
}

.expand-button {
    cursor: pointer;
}


/* Command text */

pre.cell-cmd {
    background: #fcfaf8;
    border-radius: 2px;
    border: solid 1px #f2f0ed;
    color: #000;
    padding: 5px 10px;
    margin: 0px;
}

pre.cell-cmd-error {
    background: #f2dede;
    border-radius: 2px;
    border: solid 1px #ebccd1;
    color: #843534;
    padding: 5px 10px;
    margin: 0px;
}

pre.cell-vizual {
    background: #fcfaf8;
    border-radius: 2px;
    border: solid 1px #f2f0ed;
    color: #000;
    padding: 5px 10px;
    margin: 0px;
    line-height: 1.5em;
}

pre.cell-vizual-error {
    background: #f2dede;
    border-radius: 2px;
    border: solid 1px #ebccd1;
    color: #843534;
    padding: 5px 10px;
    margin: 0px;
    line-height: 1.5em;
}


/* Outputs */

div.collapsed-output {
    color: #3b4151;
    padding: 0px 10px;
    font-family: monospace,monospace;
}

div.collapsed-output-error {
    color: #843534;
    padding: 0px 1px;
    font-family: monospace,monospace;
}

div.output-content {
    margin-top: 10px;
}

span.output-content-header {
    color: #888;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0px 10px 0px 5px;
    margin: 0px;
}

div.output-content-html {
	text-align: center;
}

div.dataset {
    margin-top: 10px;
}

pre.plain-text {
    margin-top: 10px;
    padding-top: 0px;
}

.notebook .fa-plus-square-o {
	font-size: 4em;
}

.notebook .fa-minus-square-o {
	font-size: 2em;
}
