div.spreadsheet-container {
    background: #fff;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    color: #3b4151;
    padding: 20px 20px;
}

div.spreadsheet-container .dimmable {
    overflow-x: scroll;
}

h1.dataset-name {
    font-size: 1.5em;
}

.is-null {
    background: #f8f8f8;
}

table.spreadsheet {
    background: #dadada; /*dadada; c0c0c0; dddddd*/
    border: 0px;
    border-spacing: 1px;
    color: #3b4151;
    font-size: 12px;
    width: 100%;
    table-layout: auto;
}

td.grid-row-index {
    background: #f3f3f3;
    border: 2px solid transparent;
    padding-right: 5px;
    text-align: right;
    max-width: 100%;
    white-space: nowrap;
}

td.grid-cell {
    background: #fff;
    border: 2px solid transparent;
}

td.grid-cell.active {
    background: #fff;
    border: 2px solid #4285f4;
}

td.grid-cell.highlight {
    /*background: #eff2fc;
    color: #1e22aa;*/
    background: #fff;
    color: #e4002b;
}

td.grid-cell.is-null {
    background: #f8f8f8;
    border: 2px solid transparent;
}

td.grid-cell.updating {
    background: #fff;
    border: 2px solid transparent;
    color: #888;
}

th.grid-header {
    height: 20px;
    background: #f3f3f3;
    border: 2px solid transparent;
    max-width: 100%;
    white-space: nowrap;
}

th.grid-header.active {
    height: 20px;
    background: #f3f3f3;
    border: 2px solid #4acda7;
}

th.grid-header.updating {
    height: 20px;
    background: #f3f3f3;
    border: 2px solid transparent;
    color: #888;
}

div.cell-value {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}


/* INPUT */

.spreadsheet-input {
    resize: none;
    height: 100%;
    width: 100%;
    border: 0px;
    border-radius: 0;
    font-size: 12px;
    outline: none;
    overflow: auto;
    font-family: Arial;
    background: transparent;
    text-overflow: ellipsis;
}


/* NAVBAR */

div.navbar-container {
    margin-top: 5px;
}

span.notification {
    color: #12bc00;
    font-size: 0.8em;
    margin-top: 5px;
    padding-left: 10px;
}
